/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
/* @Import "slick-carousel/slick/slick.css";
@Import "slick-carousel/slick/slick-theme.css"; */

.corouselMain {
  width: 50%;
  padding: 0;
  height: auto;
}

.img {
  width: 20rem !important;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
  border-radius: 100px;
  border: 2px solid #2B6CB0;
}

.activeSlide {
  /* transition: transform 300ms; */
  transform: scale(1.0);
  opacity: 1;
  
}

.prevArrow {
  z-index: 10;
  cursor: pointer;
  
}


.nextArrow {
  cursor: pointer;
  z-index: 10;
}


.svg {
  transition: color 300ms;
}

.svg:hover {
  color: #0DB3FB;
}

.activeContent{
  margin-left: 12%;
  margin-right: 12%;

}

.textContainer{
  position: relative;
  padding: 10%;
  margin: auto;
}

.leftQuote{
  position: absolute;
  left: 20%;
  top: 12.25%;
  z-index: -1;
  height:100px;
  width:150px;
  
}

.rightQuote{
  position: absolute;
  right: 20%;
  bottom: 12.25%;
  z-index: -1;
  height:100px;
  width:150px;
}


@media (max-width:700px){
  .leftQuote{
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
  height:50px;
  width:100px;
  
}

.rightQuote{
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: -1;
  height:50px;
  width:100px;
}
}

.nameContainer{
  margin-top: 0;
  display: flex;
  justify-content: center;
  color: #2B6CB0;
}

.name{
  font-size: 1.75rem;
}

.testimonialText{
  font-size: 1.25rem;
}


@media (min-width:768px) {
  .name{
    font-size: 1.5rem;
  }

}

@media (min-width:1850px) {
  .name{
    font-size: 2.25rem;
  }

  .testimonialText{
    font-size: 1.875rem;
  }
}