
.universitymain{
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    padding: 2% 5%;
}



/* side filter */
.SidefilterXmark{
    display: none;
}
.universitysidefilter{
    width: 35%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px 4px 0px 0px;
    margin-top: 150px;
    bottom: 0;
    font-family: 'PT Sans', sans-serif;
}

.universityFeeSlider{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.universityFeeHead{
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.universityFeeHead h3{
    font-weight: 600;
    padding: 0 0.8rem;
}
.universityFeeBracket{
    padding:1.2rem 0.9rem;
}

.universityGREBracket{
    display: flex;
    flex-direction: column;
    padding:1.2rem 0.9rem;
}




/* Content */

.universitycontent{
    width: 100%;
    position: relative;
    padding: 40px 4%;
    font-family: 'PT Sans', sans-serif;
}
.activePage{
    background-color: #4080D3;
    color: white;
}
.universitySearchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.universitySearch{
    width: 100%;
    display: flex;
    position: relative;
}
.universitySearch input{
    z-index: 1;
}
.universitySearch button {
    
        overflow: hidden;
        top: -5px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        cursor: pointer;
        position: absolute;
        opacity: 0.7;
        right: 1.2rem;
        z-index: 1;;
    
  }
  
  
  .universitySearch button[type="submit"]:hover {
    opacity: 1;
  }
 
.universitySearchBar input{
    background: #FFFFFF;
    border: 2px solid #4080D3;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    padding: 20px 25px;
    height: 5vh;
}
.universitySearchBar h3{
    font-weight: 500;
    margin-top: 20px ;
    margin-bottom: 40px;
}


.universityFilterIcon{
    display: none;
}

/* content */
.universityCardContainer {
    min-height: 65vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SingleCardProgramBtn{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px 0;
}
.SingleCardProgramBtn a{
    border: 1px solid #4080D3;
    background-color: #4080D3;
    border-radius: 5px;
    color: white;
    padding: 3px 8px;

}

.SingleCard{
    width: 28vw;
    margin-bottom:5% ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    
    border-radius: 15px ;
}
.SingleCard img{
    height: 22vh;
    width: 100%;
    border-radius: 15px  15px 0 0;
}
.SingleCardcontent{
    padding: 1.2rem;
    border-radius: 0 0 15px 15px;
}
.SingleCardcontent h2{
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 31px;
    color: black;
}
.SingleCardlocation{
    display: flex;
    margin: 8px 0;
}
.SingleCardlocation p{
    font-size: 0.9rem ;
    font-weight: 600;   
    line-height: 20px;
    color: #5a5a72;
}
.SingleCardlocation img{
    height: 21px ;
    width: 23px;
    margin-right: 10px;
    padding: 4px;
    border-radius: 50%;
    background-color: #4080D3;
} 
.SingleCardFeatures{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.SingleCardSingleFeature {
    display: flex;
    padding: 5px ;
    flex-direction: column;
    background-color: #f7f8f9;
    width: 48%;
    border-radius: 10px;
}
.SingleCardSingleFeatureButton {
    display: flex;
    border-bottom: 0.5px solid rgba(0, 0, 0,0.1);
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(64, 128, 211, 1);
    width: 48%;
    border-radius: 10px;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}
.SingleCardSingleFeatureButton:hover{
    border: 2px solid white;
    color: #fff;
}
.SingleCardSingleFeature h5{
    color: rgba(0, 0, 0,0.5);
    font-size: 0.8rem;
}
.SingleCardSingleFeature h6{
    font-weight: 600;
    font-size: 0.9rem;
}
.SingleCardprogram{
    display: flex;
}

/* //sidebar */

.checkboxDropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;    
    user-select: none;
}

/* Display CSS arrow to the right of the dropdown text */
.checkboxDropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkboxDropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkboxDropdownList {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
    opacity: 0; /* hide the dropdown */
   
    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .checkboxDropdownList {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkboxDropdownList li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
   
    transition: all 0.2s ease-out;
}

.checkboxDropdownList li label:hover {
    background-color: #555;
    color: white;
}
@media (min-width: 1400px)and (max-width: 2000px) {
    .universitysidefilter{
        width: 35%;
    }
    .universitycontent{
        width: 100%;
    }
    .SingleCard{
        width: 48%;
    }
    .universitymain{
        padding: 2% 10%;
    }
    .universitySearch button {
        padding-top: 20px;
    }

}
@media (min-width: 1080px)and (max-width: 1400px) {
    .universitySearch button {
        padding-top: 17px;
    }   
}


@media (max-width: 1080px) {
    .universityBannerContent{
        width: 50vw;
    }
    .universityBannerContent h4{
        width: 60vw;
    }
    .universitysidefilter{
        width: 50%;
        margin-left: 0;
    }
    .SingleCard{
        width: 70%;
    }
    .universitymain{
    padding: 2% ;
    }
    .universityCardContainer {
        justify-content: center;
    }
    .universitySearch button {
        padding-top: 17px;
    }
    
}
@media (max-width: 770px) {


    /* sidefilter responsive */

    .universitysidefilter::before{
        content: "";
        height: 100%;
        width: 100%;
        
    }
    .universitysidefilter{
        position: fixed;
        z-index: 2;
        top: -42px;
        background-color: rgba(255, 255, 255, 1);
        width: 50vw;
        height: 100vh;
        overflow-y: scroll;
        padding: 10px;
        padding-bottom: 100px;
    }
    
    #hideSidebar{
        left:-450px;
       
    }
    #showSidebar{
        left:0;
        transition:0.5s ease-in-out;
    }
    #contentBlur{
        filter: blur(1.5px);
        background-color: rgba(0,0,0,0.1);
    }
    
    .universitycontent{
        width: 100vw;
        padding-top: 30px;
        
    }
    .SingleCard{
        width: 43vw;
        
    }
    .SidefilterXmark{
        display: block;
    }

    .universityCardContainer{
        justify-content: space-between;
    }
    .universityFilterIcon{
        display: block;
    }
    .universitySearchIcon{
        display: none;
    }
}
@media (max-width: 590px) {

    .SingleCardSingleFeatureButton {
        font-size: 0.6rem;
    }
}
@media (max-width: 600px) {
    .SingleCard{
        width: 85vw;
    }
    .universitysidefilter{
        width: 70vw;
    }
    .universitysidefilter{
        margin-left: 0;
    }
    .universitySearchBar h3{
        font-size: 0.9rem;
    }
    .universitycontent{
        padding: 40px 8%;
    }
    .SingleCardSingleFeatureButton {
        font-size: 0.7rem;
    }

}








/* /* Single university page */
.universityPage{
    min-height: 100vh;
}

.universityBanner{
    height: 75vh;
    width: 100vw;
}
.universityBannerimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

    background-size: cover;
    background-position: center;

}
.universityBannerContent{
    width: 35vw;
    height: 20vh;
    position: absolute ;
    top: 17rem;
    left: 5rem;
    z-index: 1;
    display: flex;
    align-items: center;
}
.universityBannerContent img{
    width: 3rem;
}
.universityBannerContent h3{
    font-weight: 500;
    color: white;
    font-size: 2rem;
    margin-left: 20px;
}
.universityBannerContent h4{
    font-weight: 500;
    color: white;
    font-size: 1.6rem;
    position: absolute ;
    top: 8rem;
    width: 40vw;
}


.englishExamBox{
    margin-top: 20px ;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.duoptebox{
    margin-top: 20px;
}
/* univeristy bar */


.universitybar{
    background-color:#4080D3 ;
    padding: 20px;
    
}
.universitybar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.universitybar ul li {
    color: white;
    list-style: none;
}
.universitybar ul li a{
    text-decoration: none;
}


/* University about section  */
.universityAboutSection{
    height: 60vh;
    display: flex;
    padding: 5rem 8rem;
    justify-content: space-evenly;
    background: linear-gradient(180deg, rgba(230, 246, 255, 0.6) 41.47%, rgba(255, 255, 255, 0) 100%);
}
.universityAboutContent{
    width: 40vw;
}
.universityAboutContent h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 70px;
    color: #4080D3;
}
.universityAboutContent p{
    color: rgba(0, 0, 0,0.4);
}
.universityAboutSection img{
    height: 100%;
    width: 30%;
    background-position: center;
    border-radius: 20px;
}



/* Admission section */


.universityAdmission{
    min-height: 90vh;
    background: rgba(218, 218, 218,0.1);
    padding: 3rem 0;

}
.universityAdmission h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 80px;
    color: #4080D3;
    text-align: center;
}

.universityAdmission h2{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
}


.universityAcceptanceRate{
   width: 100vw;
   display: flex;
   justify-content: center;
   
}
.universityTable{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
   flex-wrap: wrap;

}
.universityGraduate{
    
    background-color: white;
    border-radius: 30px;
    min-width: 35vw;
    padding: 2rem 0;
}
.universityGraduate h4{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
}



/* Ranking system */

.UniversitySpace{
    height: 5vh;
    background-color: white;
}
.universityRankingSection h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4080D3;
    text-align: center;
    margin-bottom: 50px;

}
.universityRankingSection{
    height: 80vh;
    padding: 5rem 6rem;
    background: rgba(218, 218, 218,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.universityRankingContainer{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40vh;
}
.universityRankingContainer img{
    width: 35vw;
    height: 100%;
    background-position: center;
    border-radius: 20px;
}
.universityRankingContent{
    width: 35vw;
}
.universityRankingContent h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    color: black;
    margin-bottom: 20px;
}

.universityRankingContent ol li {
    font-size: 1.2rem;
    color: rgba(10, 10, 10,0.4);
}

   


/* Courses */
.universityCoursesSection h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4080D3;
    text-align: center;
    margin-bottom: 50px;

}
.universityCoursesSection{
    height: 80vh;
    padding: 5rem 6rem;
    background: linear-gradient(180deg, rgba(230, 246, 255, 0.6) 41.47%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* Fees */
.universityFeesSection{
    min-height: 80vh;
    padding: 4rem 6rem;
    background: rgba(218, 218, 218,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.universityFeesSection h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4080D3;
    text-align: center;
    margin-bottom: 30px;

}
.universityFeesSection h2{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
    color: rgba(0, 0, 0,0.4);
    text-align: center;
    width: 60vw;
    margin-bottom: 40px;
}


/* Student life  */

.universityStudentLife{
    height: 55vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/images/student_life.png);
    background-position:center;
    background-size: cover;
    object-fit: cover;
}
.universityStudentLifeContent{
    width: 50vw;
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 43%;
    transform: translate(-50%,-50%);
}

.universityStudentLifeContentHead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.universityStudentLifeContentHead h3{
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 10px;
}
.universityStudentLifeContentHead img{
    height:7%;
    width:13%;
}

.universityStudentLifeContent p{
    color: white;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.universityStudentLifeContent ul li {
    color: white;
    line-height: 30px;
} 
