.what {
  position: fixed !important;
  height: 100px;
  width: 100px;
  right: 0px;
  background: transparent;
  z-index: 2;
  bottom: 10px;
}
.what img {
  object-fit: contain;
  filter: drop-shadow(0px 0px 1px rgba(18, 10, 19, 0.403));
}
.pnggg {
  width: 400px;
  height: 45 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnggg img {
  object-fit: contain;
}
.godown {
  font-size: 20px;
  padding-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #234a61;
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 50;

  align-items: center;
  justify-content: center;
  display: none;
}
.textDiv {
  width: 650px;
  margin-top: 50px;
}

.namediv {
  position: absolute;
  bottom: 10px;
}
.test {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 730px;
  background-color: #e6f6ff;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
}
.images {
  position: relative;
  height: 350px;
  width: 330px;
}
.testImg {
  height: 350px;
  width: 330px;
}

.logo {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 160px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}
.text {
  font-size: 14px;
  text-align: justify;
}
.data {
  position: relative;
  width: 320px;
  min-height: 380px;
  margin-left: 20px;
  color: #234a61;
}

.header_benefits{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  

}
.demo1{
  padding: '2em';
  border: 1px solid black;
  border-radius: 22px;
}
.header_benefit{
  box-shadow: 0px 4px 4px rgba(64, 128, 211, 0.25); 
  position: relative;
  /* margin: 30px; */
  background:white;
  border-radius:20px;
  padding: 0.5em;
  width: 20%;
  height: 5%;
}

.header_benefit2{
  box-shadow: 0px 4px 4px rgba(64, 128, 211, 0.25); 
  position: relative;
  background:white;
  border-radius:20px;
  padding: 0.5em;
  /* width: 20%; */
  min-height: 6em;
}


.imageCluster {
    border: 3px solid #000000;
    height: 200px;
    width: 200px;
    position: relative;
    left: calc(50% - 100px);
    top: calc(50% - 100px);

  }
  

  .img1 {
    width: 100px;
    height: 100px;
    position: absolute;
    right :0.5em
    
  }
.img2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2em;
    left: -2em;
  }
  
  .img3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2em;
    right: -2em;
  }
  
  .img4 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -2em;
    left: -2em;
  }
  
  .img5 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -2em;
    right: -2em;
  }
  /* ************************************** */
  .img6 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2em;
    left: -2em;
  }
  
  .img7 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2em;
    left: -2em;
  }
  
  .img8 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2em;
    left: -2em;
  }
  
  













.header_benefit p {
  padding: 5%;
  color: #000000;
}

.header_benefit2 p {
  padding: 1em;
  color: #000000;
}
.header_benefitIcon{
  position:absolute;
  left:-40;
  top:-40;
  width: 65;
  height: 65;
}





.itemBorder{
  border-right: 1px solid #E6F6FF;
}
/* #E6F6FF */

.benefits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.benefit{
  justify-content: center;
  margin: 2%;
  padding-right: 3%;
  border-right: 1px solid #E6F6FF;
}

.additionalBenefit{
  position: relative;
  background-color: #E0F4FF;
  color: #000000;
  border-radius: 30px;
  max-width: 30em;
  display: flex;
  flex-direction: row;
  
}

.additionalBenefitImage{
  position: absolute;
  left: -5;

}

.hr {
  min-height: 100%;
  max-height: 100vh;
  margin: 0;
}


.test h2 {
  font-size: 20px;
  font-weight: 600;
  color: #234a61;
  margin-top: 10px;
}
.linkk1 {
  opacity: 0;
}
.linkk2 {
  opacity: 0;
}
.linkk3 {
  opacity: 0;
}
.linkk4 {
  opacity: 0;
}

.linkk5 {
  opacity: 0;
}
.linkk6 {
  opacity: 0;
}
.linkk7 {
  opacity: 0;
}
.linkk8 {
  opacity: 0;
}
.linkk9 {
  opacity: 0;
}
.linkk10 {
  opacity: 0;
}
.linkk11 {
  opacity: 0;
}
.react-multiple-carousel__arrow--left {
  left: -100px !important;
}

.degree {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}
.home {
  width: 1150px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  align-items: center;
}

.illuss {
  width: 550px;
  height: 550px;
}
@keyframes gayab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .test {
    width: 700px;
  }
}
@media (max-width: 1400px) {
  .test {
    width: 650px;
    padding: 20px 15px;
    min-height: 440px;
  }
  .images {
    height: 350px;
    width: 330px;
  }
  .testImg {
    height: 350px;
    width: 330px;
  }
}
@media (max-width: 1300px) {
  .test {
    width: 610px;
    min-height: 450px;
    padding: 20px 10px;
  }
  .images {
    height: 340px;
    width: 320px;
  }
  .testImg {
    height: 340px;
    width: 320px;
  }
}

@media (max-width: 1200px) {
  .test {
    width: 730px;
    min-height: 0px;
  }
  .home {
    flex-direction: column;
    width: 90%;
  }
  .textDiv {
    width: 650px;
    text-align: center;
  }
}
@media (max-width: 1050px) {
  .textDiv {
    width: 550px;
  }
}
@media (max-width: 500px) {
  .what {
    height: 80px;
    width: 80px;
    bottom: 0;
  }
  .test {
    flex-direction: column;
    width: 360px;

    padding: 30px 30px;
  }
  .data {
    margin-left: 0;
    min-height: 280px;
  }
  .pnggg {
    width: 340px;
  }
  .godown {
    display: flex;
  }
  .textDiv {
    margin-top: 10px;
  }
  .illuss {
    height: 400px;
    width: 350px;
  }
  .text {
    font-size: 12px;
  }
  .test h2 {
    font-size: 18px;
    font-weight: 600;
    color: #234a61;
    margin-top: 10px;
  }
  .degree {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
  }
  .test {
    flex-direction: column;
  }
  .textDiv {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .test {
    width: 360px;

    padding: 30px 30px;
  }
  .images {
    position: relative;
    height: 350px;
    width: 300px;
    margin-bottom: 20px;
  }
  .testImg {
    height: 350px;
    width: 300px;
    object-fit: cover;
  }

  
  /* style={{
                display:"flex",
                flexDirection:"row",
                justifyContent:"space-evenly",
                alignItems:"center"
              }} */

  

/* 
  style={{background:"grey",
                  border:1,
                  padding:"0.5em",
                  borderRadius:10,
                  width:"20%",
                  height:"5%"
                }} */
  

  .logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 450px) {
  .textDiv {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .home {
    padding: 0px 0px;
  }
}
@media (max-width: 370px) {
  .textDiv {
    width: 340px;
  }
}
@media (max-width: 362px) {
  .textDiv {
    width: 320px;
  }
}


.trial1{
  display: flex;
  justify-content: center;
}

.trial2{
  display: flex;
  justify-content: right;
}

.trial3{
  display: flex;
  justify-content: left ;
}